input {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border: none;
    border-radius: 8px;
    background-color: var(--secondary-bg-color);
}

input::placeholder {
    text-align: center;
}

input:hover {
    outline: 1px solid var(--button-bg-color);
}

input:focus {
    outline: 2px solid var(--button-bg-color);
}